<p-toast></p-toast>

<div class="container">
	<div class="row">
		<div class="col">
			<p-card header="Edit device">
				<form [formGroup]="deviceForm">

					<span class="p-float-label">
						<input id="float-input" type="text" pInputText formControlName="name">
						<label for="float-input">Name</label>
					</span>

					<span class="p-float-label my-4">
						<input id="float-input" type="text" pInputText formControlName="serialNumber">
						<label for="float-input">Serial Number</label>
					</span>

					<span class="p-float-label">
						<input id="float-input" type="text" pInputText formControlName="ipAddress">
						<label for="float-input">IP Address</label>
					</span>

					<span class="p-float-label my-4">
						<input id="float-input" type="text" pInputText formControlName="sshUsername">
						<label for="float-input">SSH Username</label>
					</span>

					<span class="p-float-label mb-2">
						<input id="float-input" type="password" pInputText formControlName="sshPassword">
						<label for="float-input">SSH Password</label>
					</span>

				</form>

				<div class="row">
					<div class="col">
						<p-button label="Submit" (click)="editDevice()"></p-button>
					</div>
				</div>

				<a href="/devices/overview">Back</a>
			</p-card>
		</div>
	</div>
</div>