<p-toast></p-toast>

<div class="container">
	<div class="row">
		<div class="col">
			<p-card header="Edit config">
				<form [formGroup]="userForm">

					<span class="p-float-label my-4">
						<input id="float-input" type="text" pInputText formControlName="email">
						<label for="float-input">E-mail</label>
					</span>

					<span class="p-float-label my-4">
						<input id="float-input" type="text" pInputText formControlName="phoneNumber">
						<label for="float-input">Phone Number</label>
					</span>

					<span class="p-float-label">
						<input id="float-input" type="password" pInputText formControlName="password">
						<label for="float-input">Password</label>
					</span>

					<span class="p-float-label my-4">
						<input id="float-input" type="password" pInputText formControlName="confirmPassword">
						<label for="float-input">Confirm Password</label>
					</span>



				</form>

				<div class="row">
					<div class="col">
						<p-button label="Submit" (click)="editUser()"></p-button>
					</div>
				</div>

				<a href="/users/overview">Back</a>
			</p-card>
		</div>
	</div>
</div>